extends layout

block content
  h1 Manage
  p Hi #{user.full_name}... we're working on this page.
  a(href="/build_test") Build test?
  br
  br
  
  for subscription in subscriptions
    p 
      | #{subscription.streamID} 
      a(href='/#{subscription.streamID}') View
      | 
      a(href='/delete/#{subscription.id}') Delete
    br